<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/{{style}}" media="screen" title="no title" charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>


  {{{body}}}



</body>
<script src='js/{{script}}'></script>

</html>