<div class="jumbotron jumbotron-fluid headerJumbo">
    <div class="container" id='titleHeader'>
        <h1 class="display-4">Designer Delve</h1>
        <p class="lead">Welcome to our gallery, a menagerie of mediums.</p>
        <div class='row'>
            {{!-- <div class='col-lg-12 col-md-12 col-sm-12'>
                <div class='row'>
                    <div id="main">
                        <button class="openbtn" onclick="openNav()">Not what you're looking for? <i
                                class="fas fa-arrow-alt-circle-right"></i></button>
                    </div>
                    <div id="mySidebar" class="sidebar">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                        <a href='/home' id='linkItem'>Home</a>
                        <a href='/submission' id='linkItem'>Submission</a>
                    </div>
                </div>
                <div class='selectionRow row'>
                    <div class='mediumField dropdown'>
                        <label for="medium" style='margin-right: 20px;'>Medium</label>
                        <select id="medium" name="medium">
                            <option value="Illustration">Illustration</option>
                            <option value="Photography">Photography</option>
                            <option value="Architecture">Architecture</option>
                            <option value="Sculpture">Sculpture</option>
                            <option value="Ceramics">Ceramics</option>
                            <option value="Painting">Painting</option>
                        </select>
                    </div>
                    <div class='stateField'>
                        <label for="state" style='margin-right: 20px;'>State</label>
                        <select id="state" name="state">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <input type="submit" value="Submit" id='submitbtn'>
                </div>
            </div> --}}
        </div>
    </div>
</div>

<div class='container belowHeaderContent'>
    <div class="row" id='photosRow dropdown'>
        <div class='artContainer'>
            <div class="col-lg-4 col-md-12 mb-4">
                <!--Modal: Name-->
                <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe class="embed-responsive-item"
                                        src="https://static01.nyt.com/images/2018/10/26/arts/26list-art/26list-art-facebookJumbo.jpg"
                                        allowfullscreen></iframe>
                                </div>
                                <div class='artInfo container'>
                                    <div class='row artInfoRow'>
                                        <h1>Title</h1>
                                    </div>
                                    <div class='row artInfoRow'>
                                        <h4>ArtistName</h4>
                                        <h6>Email Address</h6>
                                        <h6>Location</h6>
                                    </div>
                                    <div class='row artInfoRow descriptionRow'>
                                        <p class="mr-4">Description</p>
                                    </div>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer justify-content-center">
                                <a type="button" class="btn-floating btn-sm btn-fb"><i
                                        class="fab fa-facebook-f"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                                <!--Google +-->
                                <a type="button" class="btn-floating btn-sm btn-gplus"><i
                                        class="fab fa-google-plus-g"></i></a>
                                <!--Linkedin-->
                                <a type="button" class="btn-floating btn-sm btn-ins"><i
                                        class="fab fa-linkedin-in"></i></a>
                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: Name-->
                <a><img class="img-fluid z-depth-1"
                        src="https://static01.nyt.com/images/2018/10/26/arts/26list-art/26list-art-facebookJumbo.jpg"
                        alt="video" data-toggle="modal" data-target="#modal1"></a>
            </div>
        </div>
    </div>
</div>