<header id='homeHeader'>DESIGNER DELVE</header>
<div class="container-fluid primaryContainer">
    <div class="row" id='contentRow'>
        <div class="col-lg-6 col-md-12 col-sm-12 galleryCol">
            <div class='row'>
                <div class='container contentContainer'>
                    <a href="/gallery" target="_blank">
                        <img src="https://i.ytimg.com/vi/5Na7h5G4qng/maxresdefault.jpg" class='testImg'>
                    </a>
                    <div class='contentLink galleryLink'>
                        <p>View Gallery</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 createCol">
            <div class='row'>
                <div class='container contentContainer'>
                    <a href="/submission" target="_blank">
                        <img src="https://i.ytimg.com/vi/5Na7h5G4qng/maxresdefault.jpg" class='testImg'>
                    </a>
                    <div class='contentLink submissionLink'>
                        <p>Submit Your Work</p>
                    </div>
                </div>
            </div>
        </div>