<div class="container-fluid">
    <div class='row' id='title'>
        <header id='homeHeader'>DESIGNER DELVE</header>
    </div>
    <div class="row" id='contentRow'>
        <div class="col-lg-6 col-md-12 col-sm-12 galleryCol">
            <div class='row'>
                <div class='container contentContainer'>
                    <a href="/gallery" target="_blank">
                        <img src="https://i.ytimg.com/vi/5Na7h5G4qng/maxresdefault.jpg" class='testImg'>
                    </a>
                    <div class='contentLink galleryLink'>
                        <p>Browse Our Gallery</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 createCol">
            <div class='row'>
                <div class='container contentContainer'>
                    <a href="/submission" target="_blank">
                        <img src="http://i.imgur.com/IttGYgJ.jpg" class='testImg'>
                    </a>
                    <div class='contentLink createLink'>
                        <p>Submit Your Work</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>