<div class="jumbotron jumbotron-fluid headerJumbo">
    <div class="container" id='titleHeader'>
        <h1 class="display-4" id='title'>Designer Delve</h1>
        <p class="lead">A collection of works by local artists.</p>
    </div>
</div>
<div class="container-fluid primaryContainer">
    <div class="row" id='contentRow'>
        <div class="col-lg-6 col-md-12 col-sm-12 galleryCol">
            <div class='row'>
                <div class='container contentContainer'>
                    <div class='contentLink galleryLink'>
                        <p>View Gallery
                            <br>
                            ↓
                        </p>
                    </div>
                    <a href="/gallery" id='galleryLink'>
                        <img src="/images/leftHome.jpg" class='testImg leftHomeImg'>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 createCol">
            <div class='row'>
                <div class='container contentContainer'>
                    <div class='contentLink submissionLink'>
                        <p>Submit Your Work
                            <br>
                            ↓
                        </p>
                    </div>
                    <a href="/submission" id='submitLink'>
                        <img src="/images/rightHome.jpg" class='testImg'>
                    </a>
                </div>
            </div>
        </div>