<div class='contentContainer'>
    <div class='row'>
        <div class='col-lg-6 col-md-12 col-sm-12 leftLanding'>
            <div class='headerContent'>
                <h1>Designer Delve</h1>
                <p>BRINGING
                    <br>
                    </br>
                    LOCAL
                    <br>
                    </br>
                    ARTISTS
                    <br>
                    </br>
                    TO YOU
                </p>
            </div>
        </div>
        <div class='col-lg-6 col-md-12 col-sm-12 rightLanding'>
            <div class="panel panelClass"></div>
            <div class="panel2 panelClass"></div>
            <div class="panel3 panelClass"></div>
        </div>
    </div>

</div>




<!--  <div class="box"> 
                <img src="images/light.jpg" id="light">
        </div>
    </div> -->

<div class="feature" id="featureAnimation">
    <div id="featureBackground"></div>
</div>
</div>