body {
  background-color: white; }

.testImg {
  height: 600px;
  width: 700px;
  padding: 20px;
  border: 10px;
  }

  .leftHomeImg
  {
    padding: 0;
  }

  .testImg:hover {
    -webkit-filter: blur(2.8px); /* Chrome, Safari, Opera */
    filter: blur(2.8px);
  }

.row {
  flex-wrap: nowrap;
  margin: auto; }

#contentRow {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap; }

.contentContainer {
  padding: 0; }

.container {
  flex: 1;
  padding: 0;
  margin: 0; }

  #titleHeader
  {
    text-align: center;
    font-family: 'BeonRegular';
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    font-weight: bolder;
  }

  .headerJumbo
  {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  #title
  {
    font-size: 80px;
    color: rgba(228, 135, 170);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-weight: bolder;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(194, 192, 192), 0 0 20px rgb(204, 203, 203), 0 0 30px #615e5f, 0 0 40px #615e5f, 0 0 50px #615e5f, 0 0 60px #615e5f, 0 0 70px #615e5f;
    }
    
    to {
      text-shadow: 0 0 20px rgb(214, 212, 212), 0 0 30px #383838, 0 0 40px #363636, 0 0 50px #383838, 0 0 60px #050505, 0 0 70px #050505, 0 0 80px #050505;
    }
  }

.primaryContainer {
  padding: 40px; }

.createCol {
  display: flex;
  flex-flow: column wrap; }

.contentLink
{
  font-size: 34px;
  text-align: center;
  font-family: 'BeonRegular';
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3); 
}

@media screen and (max-width: 1450px) {
  .contentContainer
  {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .createCol
  {
    min-width: 51%;
    margin-top: 50px;
  }

  .galleryCol
  {
    min-width: 51%;
  }
}



