body {
  font-family: 'Montserrat';
   }

h1 {
  font-size: 5em;
  width: 25%;
  line-height: 1em;
  font-family: 'BeonRegular';
  /* color: rgba(0, 0, 0, 0.6); */
  -webkit-animation: rainbow 5s infinite;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
 



p {
  margin-top: 50px;
  font-family: 'Bungee Outline', cursive;
  font-size: 27px;
  opacity: 0;
  margin-left: 50px;
  font-family: 'BeonRegular';
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
  

button {
  background: none;
  border: 1px solid black;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.7em;
  padding: .5em 1em;
  cursor: pointer; }

.panel {
  background-image: url("https://images.pexels.com/photos/415206/pexels-photo-415206.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  bottom: 0;
  right: 0;
  /* top: 60px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15% 7%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom; }

.panel2 {
  background-image: url("../images/black.jpg");
  position: absolute;
  background-size: cover;
  width: 100%;
  bottom: 0;
  right: 0;
  /* top: 70px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15% 7%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom; }

.panel3 {
  background-image: url("../images/abstract-colorful-art.jpg");
  position: absolute;
  background-size: cover;
  width: 100%;
  bottom: 0;
  /* top: 70px; */
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15% 7%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom; }

.panel img {
  width: 120px;
  float: left;
  margin-right: 50px;
  opacity: 0;
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px); }

.panel p {
  font-size: 1.9em;
  width: 80%;
  opacity: 0; }

.panel .box {
  width: 65%;
  height: 80%;
  position: relative;
  left: -7%;
  top: 15%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

 .col-lg-6 .col-md-12 .col-sm-12
  {
    margin: 0;
    padding: 0;
  }

  .row
  {
    margin: 0;
    padding: 0;
  }

  .contentContainer
  {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  .panelClass
  {
    height: 100%;
    width: 100%;
  }

  .leftLanding
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
  }

  .headerContent
  {
    padding: 10px;
  }

  .rightLanding
  {
    border-left: 5px solid black;
  }

  